/composer.phar
.parameters.yml
framework-standard-edition/web/css/
framework-standard-edition/web/js/
framework-standard-edition/web/bundles/
framework-standard-edition/app/cache/*
framework-standard-edition/app/config/parameters.yml
framework-standard-edition/app/logs/*ip
framework-standard-edition/build/
framework-standard-edition/vendor/
framework-standard-edition/bin/
parameters.yml
*.zip
tmp/
/idea/
.project
.settings
.buildpath
