{% extends 'ResumeBundle:Default:base.html.twig' %}

{% block body %}
  <div class="row">
    <h1>{{ fullName }}</h1>
  </div>
  <div class="span9 offset0.75">
    <hr/>
    <div class="row"><h2>About</h2></div>

    <div class="row">
      <h3>Personal</h3>
      <div class="span9 offset0.75" >
        <p>
          I am a family man with 2 happy wonderful kids and a beautiful wife.
          Born and raised in Alaska,
        </p>
        <p>
          I was raised to "Hope for the best and plan for the worst."   It's the
          Alaskan motto and I take the same approach to my coding.  I always hope
          for the best results, but I do my best to catch reasonable errors and I 
          server-side validate all external input. The other general phrase I tend
          to attempt to follow is "The Internet hates you."  It follows the same
          principle as "plan for the worst", but when web programming, I think it
          adds the expectation of it actually happening, and thus gives a reason
          to plan. 
        </p>
        <p>
          I do my best to maintain a professional and courteous demeanor when 
          I'm with a client. In Personal conversations or conversations with 
          other coworkers(not clients) I am less reserved and more willing to
          let my passions and frustration for the technology and industry show. 
        </p>
      </div>
    </div>

    <div class="row">
      <h3>Professional</h3>
      <div class="span9 offset0.75" >
    	<p>
	      I find that the Alaskan Motto of "Hope for the best and plan for the worst."
	      is especially true in Web Application programming.  There is an axiom
	      of the internet I've heard before "The internet hates you."
	
	      In Web Application Programming(and Programming in general.)
	      Leads to certain principles/behaviours:
		  <ol>
		    <li>Validate <em>Everything</em>(All input)</li>
		    <li>
		      Add Error checking for all possible scenarios
		      - even those that <em>should never happen</em>
		    </li>
		  </ol>
	    </p>
	    <p>
		  I do my best to understand user/client needs and problems.  When 
		  designing/implementing solutions I try my best to fulfill the users
		  actual needs and requirements,  When possible I also prefer to get 
		  a sampling of the users to actually test the application once initial
		  testing is complete and I'm reasonable sure of reliable and accurate 
		  operation.
	    </p>
      </div>
	</div>
  </div>
{% endblock %}