{% extends 'ResumeBundle:Default:base.html.twig' %}

{% block body %}
  <div class="row">
    <h1>Contact</h1>
  </div>
  <hr/>
<!-- Removed 
	 Decided it was better to have the Social network sites handle it.
	 Leaves Human ensuring Work, up to them and makes sure I get serious enquiries only.
  <div class="row">

    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputName">Name</label>
        <div class="controls">
          <input type="text" id="inputName" placeholder="Your Name">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputSubject">Subject</label>
        <div class="controls">
          <input type="password" id="inputPassword" placeholder="Subject">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputMessage">Message</label>
        <div class="controls">
          <textarea id="inputMessage" placeholder="Type your message here." rows="5">
          </textarea>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Send Message</button>
        </div>
      </div>
    </form>

  </div>
-->
  <div class="row">
    <h2>Social Network Profile Links</h2>
    <hr/>
    <ul>
      <li>
        GitHub &mdash;
        <a href="https://github.com/raystorm" >https://github.com/raystorm</a>
      </li>
      <li>
        LinkedIn &mdash;
        <a href="http://www.linkedin.com/in/tomfburton/">
          http://www.linkedin.com/in/tomfburton/
        </a>
      </li>
      <li>
        StackOverflow Careers &mdash;
        <a href="http://careers.stackoverflow.com/tomburton">
          http://careers.stackoverflow.com/tomburton
        </a>
      </li>
    </ul>
  </div>

{% endblock %}