<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar"
              data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/Resume">{{ fullName }}</a>
      <div class="nav-collapse collapse">
        <ul class="nav">{# TODO: How can I easily set class="active" per page? #}
          {% if page_title == "Tom Burton's Portfolio" %}
          <li class="active" >
        {% else %}
          <li>
            {% endif %}
            <a href="/">Home</a>
          </li>
          {% if page_title == "About" %}
          <li class="active" >
        {% else %}
          <li>
            {% endif %}
            <a href="/About">About</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Resume<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="nav-header">Formats</li>
              <li class="divider"></li>
              <li><a href="/Resume/html">Html</a></li>
              <li><a href="/Resume/docx">Word Document</a></li>
              <li><a href="/Resume/txt">Text</a></li>
              <li><a href="/Resume/pdf">PDF</a></li>
            </ul>
          </li>
          {% if page_title == "About" %}
          <li class="active" >
            {% else %}
          <li>
            {% endif %}
            <a href="/Contact">Contact</a>
          </li>

        </ul>
        {% if not user %}
          {{ form_start(form, {'attr': {'class': 'navbar-form pull-right',
                                        'action': '/Admin'} }) }}
            <button type="submit" class="btn">Sign in</button>
          {{ form_end(form) }}
        {% else %}
        <div class="nav-collapse collapse pull-right">
          <ul class="nav">
            {% if page_title == "Admin" %}
            <li class="active" >
              {% else %}
            <li>
              {% endif %}
              <a href="/Admin">Admin</a>
            </li>
          </ul>
        </div>
        {% endif %}
        {# TODO: test and swith to this version from the "symfony" version
        <form class="navbar-form pull-right" action="/Admin">
          <button type="submit" class="btn">Sign in</button>
        </form>
        #}
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>